<label class="input__label"
       for="{{ property.id }}">{{ property.title }} {% if property.required is defined and property.required %}<span
        style="color: red;"><strong>*</strong></span>{% endif %}</label>
<fieldset class="input">
    {% if property.enum is defined and property.enum is not empty and property.type == 'array' %}
        {% for option in property.enum %}
            {% if request.properties[property.name] is defined and request.properties[property.name] == option %}
                <div class="input__group input__group--checkbox">
                    <input class="input__control input__control--checkbox" checked="checked" type="checkbox" id="{{ option }}"
                           name="request[properties][{{ property.name }}]" value="{{ option }}">
                    <label class="input__label input__label--checkbox" for="{{ option }}">{{ option }}</label>
                </div>
            {% else %}
                <div class="input__group input__group--checkbox">
                    <input class="input__control input__control--checkbox" type="checkbox" id="{{ option }}"
                           name="request[properties][{{ property.name }}]" value="{{ option }}">
                    <label class="input__label input__label--checkbox" for="{{ option }}">{{ option|capitalize }}</label>
                </div>
            {% endif %}
        {% endfor %}
    {% elseif property.enum is defined and property.enum is not empty and property.type == 'string' %}
        <div class="input__group input__group--checkbox">
            <input {% if property.required is defined and property.required %}required{% endif %} class="input__control input__control--checkbox" type="checkbox" id="true" name="request[properties][{{ property.name }}]" value="true"
                   {% if request.properties[property.name] is defined and request.properties[property.name] == 'true' %}checked="checked"{% endif %}>
            <label class="input__label input__label--checkbox" for="true">{{ 'true'|capitalize }}</label><br>
        </div>
    {% endif %}
</fieldset>
